Repository FRONTENDSCHOOL5/final-18-EarthUs, pull requests merged in 2023-06, with the labels that each got.

#38 탭바 컴포넌트
  src/components/common/tabBar/TabBar.jsx
  src/components/common/tabBar/tabBar.style.js
Labels: ✨ Feature, 🎨 Style

#40 로그인 페이지 기능 구현
  src/pages/SignIn.jsx
Labels: ✨ Feature

#41 버튼 컴포넌트 구현
  src/components/common/button/Button.jsx
Labels: 🎨 Style

#42 ✨ feat: 스크린 아웃 컴포넌트 구현
  src/components/common/a11yHidden/A11yHidden.jsx
  src/components/common/a11yHidden/a11yHidden.style.js
Labels: ✨ Feature

#43 ✨ feat: 헤더 컴포넌트 구현
  src/components/common/header/Header.jsx
  src/components/common/header/header.style.jsx
Labels: ✨ Feature, 🎨 Style

#44 ✨ feat: 헤더, 탭바 라우터 설정
  src/components/common/tabBar/TabBar.jsx
  src/components/common/tabBar/tabBar.style.js
  src/routes/Router.jsx
Labels: ✨ Feature

#46 🌈 style: 버튼 컴포넌트 CSS 수정
  src/components/common/button/Button.jsx
Labels: 🎨 Style

#48 🦄 refactor: css 변수로 수정
  src/components/common/tabBar/tabBar.style.js
Labels: 🔨 Refactor

#47 ✨ feat: input 컴포넌트 구현
  src/assets/images/error.svg
  src/components/common/input/Input.jsx
  src/components/common/input/InputError.jsx
  src/components/common/input/input.style.js
  src/components/common/input/inputError.style.js
Labels: ✨ Feature, 🎨 Style

#49 ✨ feat: 아바타 공통 컴포넌트 구현
  src/components/common/avatar/Avatar.jsx
  src/components/common/avatar/avatar.style.js
Labels: ✨ Feature, 🎨 Style

#51 ✨ feat: required 값 조건부 렌더링으로 변경
  src/components/common/input/Input.jsx
Labels: 🔨 Refactor

#53 ✨ feat: Card 컴포넌트 구현
  src/components/common/card/Card.jsx
  src/components/common/card/card.style.js
Labels: ✨ Feature, 🎨 Style

#54 🌈 style: border-bottom-color 설정 변경
  src/components/common/input/Input.jsx
  src/components/common/input/InputError.jsx
  src/components/common/input/input.style.js
Labels: 🎨 Style, 🔨 Refactor

#55 ✨ feat: 댓글 컴포넌트 구현
  src/components/common/comment/Comment.jsx
  src/components/common/comment/comment.style.js
Labels: ✨ Feature, 🎨 Style

#57 ✨ feat: Blank 컴포넌트 구현
  src/components/blank/Blank.jsx
  src/components/blank/blank.style.js
Labels: ✨ Feature, 🎨 Style

#59 ✨ feat, 🌈 style : 프로필 기능 추가 및 input 스타일 수정
  src/components/common/input/input.style.js
  src/pages/profile/profileUpload/ProfileUpload.jsx
Labels: ✨ Feature, 🎨 Style

#60 ✨ feat: 팔로우 페이지 구현
  src/pages/follow/Follow.jsx
  src/pages/follow/follow.style.js
Labels: ✨ Feature, 🎨 Style, 📬 API

#63 ✨ feat: 모달 공통 컴포넌트 추가
  src/components/common/modal/Modal.jsx
  src/components/common/modal/modal.style.js
  src/recoil/modalConfigAtom.js
  src/recoil/modalStateAtom.js
Labels: ✨ Feature

#64 ✨ 기존 컴포넌트 동적으로 리팩토링
  src/components/blank/Blank.jsx
  src/components/blank/blank.style.js
  src/components/common/header/Header.jsx
  src/components/common/tabBar/TabBar.jsx
  src/components/userInfo/UserInfo.jsx
  src/components/userInfo/userInfo.style.js
Labels: ✨ Feature

#61 ✨ feat: Swiper 및 클릭이벤트 조건별 랜더링 추가
  src/components/common/card/Card.jsx
  src/components/common/card/card.style.js
Labels: 🔨 Refactor

#68 ✨ feat: 프로필 페이지 구현
  src/components/profileFeed/ProfileFeed.jsx
  src/components/profileFeed/profileFeed.style.js
  src/components/profileHeader/ProfileHeader.jsx
  src/components/profileHeader/profileHeader.style.js
  src/components/profileProduct/ProfileProduct.jsx
  src/components/profileProduct/profileProduct.style.js
  src/pages/product/productDetail/ProductDetail.jsx
  src/pages/product/productDetail/productDetail.style.js
  src/pages/profile/profileDetail/ProfileDetail.jsx
Labels: ✨ Feature

#69 ✨ feat, 🌈 style: 채팅 메시지 컴포넌트 및 채팅방 페이지 구현
  src/components/chatBubble/ChatBubble.jsx
  src/components/chatBubble/chatBubble.style.js
  src/pages/chat/chatRoom/ChatRoom.jsx
  src/pages/chat/chatRoom/chatRoom.style.js
  src/routes/Router.jsx
Labels: ✨ Feature, 🎨 Style

#70 ✨ feat: productUpload 페이지 구현
  src/pages/product/productUpload/ProductUpload.jsx
  src/pages/product/productUpload/productUpload.style.js
  src/routes/Router.jsx
Labels: ✨ Feature, 🎨 Style, 📬 API

#71 ✨ feat: 댓글 컴포넌트 삭제/신고 모달 및 기능 구현
  src/components/common/comment/Comment.jsx
Labels: ✨ Feature, 📬 API

#72 ✨ feat: 팔로우 알림관리 모달 구현
  src/pages/follow/Follow.jsx
Labels: ✨ Feature

#73 ✨ feat: 채팅 목록 페이지 구현
  src/components/chatPreview/ChatPreview.jsx
  src/components/chatPreview/chatPreview.style.js
  src/pages/chat/chatList/ChatList.jsx
  src/routes/Router.jsx
Labels: ✨ Feature, 🎨 Style

#74 ✨ feat: Search 페이지 구현
  src/components/userInfo/UserInfo.jsx
  src/components/userInfo/userInfo.style.js
  src/pages/search/Search.jsx
Labels: ✨ Feature, 🎨 Style

#75 ✨ feat: SearchInput과 검색 페이지 연동
  src/components/common/header/Header.jsx
  src/routes/Router.jsx
Labels: ✨ Feature

#77 ✨ feat: 프로필 정보 불러오는 기능 추가
  src/pages/profile/profileUpload/ProfileUpload.jsx
  src/pages/profile/profileUpload/ProfileUpload.style.js
Labels: ✨ Feature, 🎨 Style, 📬 API

#78 ✨ feat: 검색 이벤트 추가
  src/components/common/header/Header.jsx
Labels: ✨ Feature

#79 🌈 style: 검색 페이지 UserInfo margin 추가
  src/components/userInfo/UserInfo.jsx
  src/components/userInfo/userInfo.style.js
Labels: 🎨 Style

#80 ✨ feat: 홈, 뉴스레터 페이지 구현
  src/pages/feed/Feed.jsx
  src/pages/feed/feed.style.js
  src/recoil/earthusDataAtom.js
Labels: ✨ Feature, 🎨 Style, 📬 API

#81 ✨ feat: postDetail 페이지 구현
  src/pages/post/postDetail/PostDetail.jsx
  src/pages/post/postDetail/postDetail.style.js
Labels: ✨ Feature, 🎨 Style, 📬 API

#83 🐞 fix: keyDown 이벤트, 메시지 중복 키 오류 수정
  src/pages/chat/chatRoom/ChatRoom.jsx
Labels: 🐞 BugFix, 🔨 Refactor

#84 ✨ feat: 무한 스크롤 기능 구현
  src/hooks/useApiInfiniteQuery.jsx
  src/pages/feed/Feed.jsx
  src/pages/post/postDetail/PostDetail.jsx
Labels: ✨ Feature, 📬 API

#93 ✨ feat: 스플래시 페이지 구현
  src/assets/images/earth.svg
  src/assets/images/logo-name.svg
  src/pages/splash/Splash.jsx
  src/pages/splash/splash.style.js
  src/routes/Router.jsx
  src/utils/config.js
Labels: ✨ Feature, 🎨 Style

#94 ✨ 인트로 페이지 구현
  src/assets/images/sns-facebook.svg
  src/assets/images/sns-kakao.svg
  src/pages/intro/Intro.jsx
  src/pages/intro/intro.style.js
  src/utils/config.js
Labels: ✨ Feature, 🎨 Style

#96 ✨ feat: 온보딩 페이지 구현, 헤더 Search 관련 수정사항
  src/assets/images/green.svg
  src/assets/images/light.svg
  src/assets/images/plasticbag.svg
  src/assets/images/sayno.svg
  src/assets/images/think.svg
  src/components/common/header/Header.jsx
  src/components/common/header/header.style.jsx
  src/pages/Onboarding.jsx
  src/pages/onboarding.style.js
  src/pages/search/Search.jsx
  src/routes/Router.jsx
  src/utils/config.js
Labels: ✨ Feature, 🎨 Style, 🔨 Refactor

#97 ✨ feat: 로그인 페이지 구현 [공통]
  src/pages/sign/SignIn.jsx
  src/pages/sign/sign.style.js
Labels: ✨ Feature, 🎨 Style, 📬 API

#101 ✨ feat: 모달 팝업 접근성 향상
  src/components/common/modal/Modal.jsx
Labels: 🥰 Accessibility

#104 ✨ feat: 스크롤 커스텀훅 추가
  src/components/common/modal/modal.style.js
  src/components/common/tabBar/TabBar.jsx
  src/components/userInfo/userInfo.style.js
  src/hooks/useScrollTop.jsx
  src/styles/GlobalStyle.jsx
Labels: ✨ Feature
